{% extends 'layout.html' %}

{% block content %}
{% if user and user.id %}
    <div class="timeline">
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <!--
          <input type="text" name="writer" placeholder="작성자 검색">
          <input type="text" name="normal" placeholder="일반 검색">
          -->
          <button class="btn">검색</button>
        </form>
        <!--{% for twit in twits %} -->
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}
            <a class="twit-author" href="/" class="btn">{{twit.User.name}}</a> 
            <div class="twit-author" >{{twit.User.createdAt}}</div>            
            <div class="twit-content">{{twit.content}}</div> 
            {% if twit.User.id == user.id %}
              <button class="twit-edit">편집</button>
            {% endif %}
            
          </div>
        <!--{% endfor %}-->
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-edit').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
          
        }
      });
    });

  </script>
{% endblock %}
